<div class="navigator" *ngIf="!loading else Loading">
  <nav aria-label="...">
    <ul class="pagination pagination-lg">
      <li class="page-item" [ngClass]="{active: selectedType === type}" aria-current="page" *ngFor="let type of types">
        <a class="page-link" (click)="goNextTab(type)">{{type}}</a>
      </li>
    </ul>
  </nav>
  <h2>{{selectedType}}</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item group-list">
      <div class="group-list__item">
        <h5>Name</h5>
      </div>
      <div class="group-list__item">
        <h5>Account</h5>
      </div>
    </li>
    <li class="list-group-item group-list" *ngFor="let user of users">
      <div class="group-list__item">{{user.name.first}} {{user.name.last}}</div>
      <div class="group-list__item">{{user.amount}}</div>
    </li>
  </ul>
</div>
<ng-template #Loading>
  <div class="center">
    <app-loader></app-loader>
  </div>
</ng-template>



