.navigator{
  border: 1px dashed black;
  padding: 15px;
  box-shadow: 0px 0px 18px 2px rgba(204, 204, 204, 0.2);
}
.group-list{
  display: flex;
  width: 100%;

  &__item{
    width: 50%;
    text-align: center;
  }
}
.page-item{
  z-index: 100;
}
