<div *ngIf="!loading else Loading">
  <div class="card text-center top-cart">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Welcome</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a class="btn btn-primary" [routerLink]="['/navigator']" [queryParams]="{tab: 0}">See transactions</a>
    </div>
    <div class="card-footer text-muted">
      You have {{totalCount}} transactions
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 cart-item" *ngFor="let transaction of transactions">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{transaction.count}}</h5>
          <p class="card-text">{{transaction.name}}</p>
          <a class="btn btn-primary" [routerLink]="['/navigator']" [queryParams]="{tab: transaction.index}">See all</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #Loading>
  <div class="center">
    <app-loader></app-loader>
  </div>
</ng-template>
