.header{
  margin-bottom: 30px;
  .btn-submenu {
    position: relative;
  }
  .submenu-toggle {
    transition: all 1s ease-in-out;
    position: absolute;
    background-color: #fff;
    right: 0;
    top: 56px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

    .submenu {
      z-index: 1000;
      list-style: none;
      margin: 0;
      padding: 0;

      .active-link a{
        color: black;
      }

      &__item {
        display: block;
        padding: 5px 15px;
        transition: all 0.2s ease-in-out;
        border-radius: 5px ;

        &:hover{
          background: black;
        }
        &:hover a{
          color: white !important;
        }

      }

      &__link {
        transition: all 1s;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
      }
    }
  }

}


a{
  color: rgba(0, 0, 0, .5);
}


@media (min-width: 992px) {
  .submenu-toggle{
    display: none;
  }
}
@media (max-width: 183px) {
  .submenu-toggle{
    margin-top: 40px;
  }
}
