<nav class="header navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">Navbar</a>
  <button (click)="menuToggle = !menuToggle" class="navbar-toggler btn-submenu" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="submenu-toggle" *ngIf="menuToggle">
    <ul class="submenu">
      <li class="submenu__item "  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
        <a class="submenu__link" [routerLink]="['/']" (click)="clickMenu()">Summary</a>
      </li>
      <li class="submenu__item" routerLinkActive="active-link">
        <a class="submenu__link" [routerLink]="['/navigator']" [queryParams]="{tab: 0}" (click)="clickMenu()" >List-page</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" [routerLink]="['/']" (click)="menuToggle = false">Summary</a>
      </li>
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" >
        <a class="nav-link" [routerLink]="['/navigator']" [queryParams]="{tab: 0}">List-page</a>
      </li>
    </ul>
  </div>
</nav>
